{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}



        <div class="row">
            
            {% for title in titles %}
            
            <div id="no-padding" class="col-sm-3 text-center">
                <a id="album-cover-index" class="story-img" href="#">
                    <img  src="{{MEDIA_URL}}{{title.image}}" class="img-square">
                </a>
            </div>
            {% endfor %}
            <hr>
        </div>



{% endblock %}